<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>添加</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="__ADMIN_PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/font-awesome.min.css?v=4.4.0"
	rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/animate.min.css" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/style.min.css?v=4.1.0" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/base.css" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/plugins/layui/css/layui.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="commentForm" method="post"
							action="{:url('infor/art_ok')}">
							<div class="form-group">
								<label class="col-sm-3 control-label">标题：</label>
								<div class="input-group col-sm-7">
									<input type="text" class="form-control" maxlength="16"  name="title" id="title" value="{notempty name="$info"}{$info['title']}{/notempty}" required="" aria-required="true" >
								</div>
							</div>
							
							
							<div class="form-group">
                                <label class="col-sm-3 control-label">关键字：</label>
                                <div class="input-group col-sm-7">
                                    <textarea class="form-control" type="text" rows="3"  name="keywords">{notempty name="$info"}{$info['keywords']}{/notempty}</textarea>
                                </div>
                            </div>                           
                            <div class="form-group">
                                <label class="col-sm-3 control-label">描述：</label>
                                <div class="input-group col-sm-7">
                                    <textarea class="form-control" type="text" rows="3" name="desc" >{notempty name="$info"}{$info['desc']}{/notempty}</textarea>
                                </div>
                            </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">文章主图：</label>
                                 <div class="input-group col-sm-7">    
                                 	<div class="img_div">           
                                 		<img id="img_data" class="oneimg" {notempty name="$info['path']"}src="{$info['path']}"{else/}src="__ADMIN_PUBLIC__/img/default.jpg"{/notempty} />                          
                                    	<span class="delbtn">x</span>
                                    </div>
                                    <button type="button" class="layui-btn" id="uploadbtn">
	  									<i class="layui-icon">&#xe67c;</i>上传图片
						 			</button>
						 			<input type="hidden" name="path" id="img_path" {notempty name='$info'}value="{$info['path']}"{/notempty} />
                                 </div>
                             </div>
                            
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">文章内容：</label>
                                 <div class="input-group col-sm-7">                                              
                                      <script id="editor" name="content" style="height:500px;" type="text/plain" >{notempty name="$info"}{:htmlspecialchars_decode($info['content'])}{/notempty}</script>
                                 </div>
                             </div>
							
							
							
							<input type="hidden" name="id" value="{notempty name="$info"}{$info['id']}{/notempty}" />
							
							<div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-3">
									<button type="submit" class="btn btn-primary btn_save"><i class="fa fa-save"></i> 保存</button>
                        			<button type="button" class="btn btn-danger btn_close"><i class="fa fa-close"></i> 关闭</button>       
                                </div>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__ADMIN_PUBLIC__/js/jquery.min.js"></script>
	<script src="__ADMIN_PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__ADMIN_PUBLIC__/js/content.min.js?v=1.0.0"></script>
	<script src="__ADMIN_PUBLIC__/js/jquery.form.js"></script>
	<script src="__ADMIN_PUBLIC__/js/contabs.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/validate/jquery.validate.min.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/validate/messages_zh.min.js"></script>
    <script src="__ADMIN_PUBLIC__/js/demo/form-validate-demo.min.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/layer/layer.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/layui/layui.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/iCheck/icheck.min.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/ueditor/ueditor.config.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/ueditor/ueditor.all.js"></script>
	<script src="__ADMIN_PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
	$(function(){
		
		var path = "{present name='$info'}{$info['path']}{/present}";
		if(path){
			$("#uploadbtn").hide();
    	    $(".delbtn").show();
		}
		
		var ue = UE.getEditor('editor');
		ue.ready(function() {
		});
		
		$(".i-checks").iCheck({
			checkboxClass:"icheckbox_square-green",
			radioClass:"iradio_square-green",
		})
			
        $('#commentForm').ajaxForm({
            beforeSubmit: checkForm, 
            success: complete, 
            dataType: 'json'
        });
        
        function checkForm(){
            if( '' == $.trim($('#title').val())){
                warn('请输入名称')
                return false;
            }
            if( '' == $.trim($('#type_id').val())){
                warn('请选择类别')
                return false;
            }
            if( '' == ue.getContent()){
                warn('请输入内容')
                return false;
            }
            $('.btn_save').attr('disabled',true).addClass('disabled').text('提交中...');
        }

        function complete(res){
            if(res.code == 1){
                warn(res.msg,'success','fullcloserefresh');
            }else{
                warn(res.msg,'error')
                $('.btn_save').attr('disabled',false).removeClass('disabled').text('保存');
            }
        }
    });
	
	

	layui.use('upload', function(){
		  var upload = layui.upload;
		   
		  //执行实例
		  var uploadInst = upload.render({
		    elem: '#uploadbtn' //绑定元素
		    ,url: '{:url("upload/uploadimg")}' //上传接口
		    ,data:{'type':'art'}
		    ,accept:'images'
		    ,done: function(res, index, upload){
		      //上传完毕回调
		      if(res.code == 1){
		    	   $("#uploadbtn").hide();
		    	  
		    	   $("#img_data").attr('src',res.data);
		    	   $(".delbtn").show();
		    	   
		    	   $("#img_path").val(res.data);
		      } else {
		    	  warn(res.msg,'error');
		      }
		    }
		    ,error: function(index, upload){
		      //请求异常回调
		      warn('上传失败');
		    }
		  });
		});	
	
	
	$(".delbtn").click(function(){
		var path = $(this).prev().attr('src');
		var obj = this;
		$.ajax({
			type: "POST",
			url: '{:url("upload/delimg")}',
			data: {path:path,type:'art'},
			async: false,
			success: function(res) {
				$(obj).prev().attr('src','__ADMIN_PUBLIC__/img/default.jpg');
				$("#uploadbtn").show();
				$(obj).hide();
				$("#img_path").val('');
			}
		})
		
	})
	</script>
</body>
</html>
