<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>添加</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="__ADMIN_PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/font-awesome.min.css?v=4.4.0"
	rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/animate.min.css" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/style.min.css?v=4.1.0" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="commentForm" method="post"
							action="{:url('system/admin_ok')}">
							<div class="form-group">
								<label class="col-sm-3 control-label">账号：</label>
								<div class="input-group col-sm-7">
									<input type="text" class="form-control" minlength="5" maxlength="16"  id="admin_name" name="admin_name" value='{notempty name="$info"}{$info['admin_name']}{/notempty}'
										required="" aria-required="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">密码：</label>
								<div class="input-group col-sm-7">
									{notempty name="$info"}
									<input type="password" class="form-control" name="password" id="password" minlength="6" minlength="16" >
										<span class="help-block m-b-none">不填写表示不修改</span>
									{else/}
									<input type="password" class="form-control" name="password" id="password" minlength="6" minlength="16"
										required="" aria-required="true">
									{/notempty}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">角色：</label>
								<div class="input-group col-sm-7">
									<select class="form-control" name="role_id" id="role_id" required="" aria-required="true">
								        <option value="">=请选择=</option>
										{volist name="role" id="vo"}
										<option {present name='$info'}{if condition="$vo['id'] eq $info['role_id']"}selected{/if}{/present} value="{$vo.id}">{$vo.name}</option>
										{/volist}
								    </select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">是否启用：</label>
								<div class="input-group col-sm-7">
									<div class="checkbox i-checks">
                                        <label>
                                            <input name="status" id="status" type="checkbox" value="1" {notempty name="$info"}{if condition="$info['status'] eq 1"}checked{/if}{else/}checked{/notempty}> <i></i>
                                        </label>
                                    </div>
                                </div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">手机：</label>
								<div class="input-group col-sm-7">
									<input type="text" class="form-control"  name="mobile" value='{notempty name="$info"}{$info['mobile']}{/notempty}'>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">邮箱：</label>
								<div class="input-group col-sm-7">
									<input type="text" class="form-control" name="email" value='{notempty name="$info"}{$info['email']}{/notempty}'>
								</div>
							</div>
							
							{notempty name="$info"}
							<input type="hidden" name="id" value="{$info['admin_id']}" />
							{/notempty}
							
							<div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-3">
									<button type="submit" class="btn btn-primary btn_save"><i class="fa fa-save"></i> 保存</button>
                        			<button type="button" class="btn btn-danger btn_close"><i class="fa fa-close"></i> 关闭</button>       
                                </div>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__ADMIN_PUBLIC__/js/jquery.min.js"></script>
	<script src="__ADMIN_PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__ADMIN_PUBLIC__/js/content.min.js?v=1.0.0"></script>
	<script src="__ADMIN_PUBLIC__/js/jquery.form.js"></script>
	<script src="__ADMIN_PUBLIC__/js/contabs.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/validate/jquery.validate.min.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/validate/messages_zh.min.js"></script>
    <script src="__ADMIN_PUBLIC__/js/demo/form-validate-demo.min.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/layer/layer.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/iCheck/icheck.min.js"></script>
	<script src="__ADMIN_PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
	$(function(){
		
		$(document).ready(function(){
			$(".i-checks").iCheck({
				checkboxClass:"icheckbox_square-green",
				radioClass:"iradio_square-green",
				})
		});
		
        $('#commentForm').ajaxForm({
            beforeSubmit: checkForm, 
            success: complete, 
            dataType: 'json'
        });
        
        function checkForm(){
            if( '' == $.trim($('#admin_name').val())){
                warn('请输入名称')
                return false;
            }
            //$('.btn_save').attr('disabled',true).addClass('disabled').text('提交中...');
        }

        function complete(res){
            if(res.code == 1){
                warn(res.msg,'success','closerefresh');
            }else{
                warn(res.msg,'error')
                $('.btn_save').attr('disabled',false).removeClass('disabled').text('保存');
            }
        }
     
    });
	</script>
</body>
</html>
