<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>添加</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="__ADMIN_PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/font-awesome.min.css?v=4.4.0"
	rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/animate.min.css" rel="stylesheet">
<link href="__ADMIN_PUBLIC__/css/style.min.css?v=4.1.0" rel="stylesheet">
<link rel="stylesheet" href="__ADMIN_PUBLIC__/plugins/ztree/css/ztree.css" type="text/css">
<script src="__ADMIN_PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN_PUBLIC__/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="__ADMIN_PUBLIC__/plugins/ztree/js/jquery.ztree.excheck-3.5.js"></script>
</head>

<script>
var setting = {    
		check:{
			enable:true
		},
		data:{
			simpleData:{
				enable:true
			}
		},
		callback:{
			onClick: onClick,
			onCheck:onCheck
		}
	};
	var zNodes = {:$arr};
	$(document).ready(function(){
		$.fn.zTree.init($("#moduleTree"), setting, zNodes);
	});
	function onClick(e,treeId, treeNode) {
		var zTree = $.fn.zTree.getZTreeObj("moduleTree");
		zTree.expandNode(treeNode);
	}
	function onCheck(e,treeId,treeNode){
		var treeObj=$.fn.zTree.getZTreeObj("moduleTree"),
		nodes=treeObj.getCheckedNodes(true),
		v="";
		for(var i=0;i<nodes.length;i++){
			v+=nodes[i].id + ",";
			// alert(nodes[i].id); //获取选中节点的值
		}
		v = v.substring(0, v.length-1);
		$("#module_str").val(v);
	}
</script>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="commentForm" method="post"
							action="{:url('system/module_prev_ok')}">
							
							
							<div class="zTreeDemoBackground left">
								<ul id="moduleTree" class="ztree" style="width:500px;"></ul>
							</div>
						    <input type="hidden" name="module_str" id="module_str" value="{$info['module']}" />
							<input type="hidden" name="id" value="{notempty name="$info['id']"}{$info['id']}{/notempty}" />
							
							<div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-3">
									<button type="submit" class="btn btn-primary btn_save"><i class="fa fa-save"></i> 保存</button>
                        			<button type="button" class="btn btn-danger btn_close"><i class="fa fa-close"></i> 关闭</button>       
                                </div>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__ADMIN_PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__ADMIN_PUBLIC__/js/content.min.js?v=1.0.0"></script>
	<script src="__ADMIN_PUBLIC__/js/jquery.form.js"></script>
	<script src="__ADMIN_PUBLIC__/js/contabs.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/validate/jquery.validate.min.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/validate/messages_zh.min.js"></script>
    <script src="__ADMIN_PUBLIC__/js/demo/form-validate-demo.min.js"></script>
    <script src="__ADMIN_PUBLIC__/plugins/layer/layer.js"></script>
	<script src="__ADMIN_PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
	$(function(){
		
        $('#commentForm').ajaxForm({
            beforeSubmit: checkForm, 
            success: complete, 
            dataType: 'json'
        });
        
        function checkForm(){
            $('.btn_save').attr('disabled',true).addClass('disabled').text('提交中...');
        }

        function complete(res){
            if(res.code == 1){
                warn(res.msg,'success','close');
            }else{
                warn(res.msg,'error')
                $('.btn_save').attr('disabled',false).removeClass('disabled').text('保存');
            }
        }
    });
	</script>
</body>
</html>
