
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="__ADMIN_PUBLIC__/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
	<link href="__ADMIN_PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
	<!-- Data Tables -->
	<link href="__ADMIN_PUBLIC__/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
	<link href="__ADMIN_PUBLIC__/css/base.css" rel="stylesheet">
	<link href="__ADMIN_PUBLIC__/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="__ADMIN_PUBLIC__/css/animate.min.css" rel="stylesheet">
	<link href="__ADMIN_PUBLIC__/css/style.min.css?v=4.0.0" rel="stylesheet">
	<link href="__ADMIN_PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__ADMIN_PUBLIC__/css/base.css" rel="stylesheet">
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>留言列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div  class="col-sm-5 m-b-xs">
                {notempty name="$priv"}
            	{volist name="priv" id="vo"}
                <a onclick="{$vo.event}">
                	<button class="btn {$vo.img}" type="button">
                	<i class="fa {$vo.icon}"></i>
                	{$vo.name}
                	</button>
                </a>
                {/volist} 
                {else/}
                <span class="simple_tag">没有可操作选项</span>
                {/notempty}
                </div>             
                <div class="col-sm-7 pull-right">                               
                	<form name="admin_list_sea" action="{:url('infor/art')}" class="form-search form-inline" method="post" >
                        <div class="input-group">
                        	<div class="form-group">
                                <input type="text" placeholder="请选择时间范围" name="range" id="range" value="{notempty name='$search["range"]'}{$search['range']}{/notempty}" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="请输入查询关键字" name="keywords" value="{notempty name='$search["keywords"]'}{$search['keywords']}{/notempty}" class="form-control">
                            </div>   
                            <span class="input-group-btn"> 
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button> 
                            </span>
                        </div>
                	</form>    
				</div>
            </div>
            <div class="hr-line-dashed"></div>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" class="table table-bordered tablelist table-hover">
                        <thead>
							<th>
                                <input type="checkbox" class="i-checks top_check" name="top_check">
							</th>
							<th>ID</th>
							<th>姓名</th>
							<th>内容</th>
							<th>添加时间</th>
                        </thead>
                         <tbody>
                         	{volist name="$info" id="vo"}
                         	<tr rel="{$vo.id}">
                         		<td>
	                                 <input type="checkbox" class="i-checks" name="check" value="{$vo.id}">
								 </td>
                                 <td>{$vo.id}</td>
                                 <td>{$vo.name}</td>
                                 <td>{$vo.content}</td>
                                 <td>{$vo.addtime|date="Y-m-d H:i:s"}</td>
                             </tr>
                             {/volist}
                         </tbody>
                    </table>
                    {:$info->render()}
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

	<script src="__ADMIN_PUBLIC__/js/jquery.min.js"></script>
	<script src="__ADMIN_PUBLIC__/js/bootstrap.min.js?v=3.3.5"></script>
	<script src="__ADMIN_PUBLIC__/js/content.min.js?v=1.0.0"></script>
	<script src="__ADMIN_PUBLIC__/plugins/layer/layer.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/laydate/laydate.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/iCheck/icheck.min.js"></script>
	<script src="__ADMIN_PUBLIC__/plugins/fancybox/jquery.fancybox.js"></script>
	<script src="__ADMIN_PUBLIC__/js/common.js"></script>
	<script>
        $(document).ready(function(){$(".fancybox").fancybox({openEffect:"none",closeEffect:"none"})});
    </script>
<script>

laydate.render({
	  elem: '#range'
	  ,range: true
	});


$(function(){
	$(".i-checks").iCheck({
		checkboxClass:"icheckbox_square-green",
		radioClass:"iradio_square-green",
		})
})

function add(){
	var index = layer.open({
		type: 2,
		title: '添加文章',
		content: "{:url('infor/art_add')}"
	});
	layer.full(index);
}

function edit(){
	var id = getid();
	if(id>0){
		var index = layer.open({
			type: 2,
			title: '编辑文章',
			content: '{:url("infor/art_add")}?id='+id
		});
		layer.full(index);
	}else{
		layer_alert('请选择目标');	
	}
}

function del(){
	var ids = getids();
	if(ids != ''){
		parent.layer.confirm('确认要删除吗？',{icon: 3, title:'警告'},function(index){
			$.getJSON("{:url('infor/art_del')}",{'ids':ids},function(res){
				if(res.code == 1){
					warn(res.msg,'success','selfrefresh');
				}else{
					warn(res.msg,'error');
				}
			  });
		});
	}else{
		layer_alert('请选择目标');	
	}
}


function isok(){
 	art_examine(1);
}

function isno(){
	art_examine(0);
}

function art_examine(flag){
	var ids = getids();
 	if(ids != ''){
 		parent.layer.confirm('确认要操作吗？',{icon: 3, title:'警告'},function(index){
 			$.ajax({
 				type: 'POST',
 				url: "{:url('infor/art_act')}?flag="+flag+"&ids="+ids,
 				dataType: 'json',
				success: function(res){
					if(res.code == 1){
						warn(res.msg,'success','selfrefresh');
					}else{
						warn(data.msg,'error');
					}
				},
				error: function(XmlHttpRequest, textStatus, errorThrown){
					 warn('网络失败，请刷新页面后重试');
				}
 			});		
 		});
 	}else{
 		layer_alert('请选择目标');	
 	}
}
</script>
</body>
</html>